.ListeSignets {
    padding: 2rem;
    h2 {
        font-size: 2rem;
    }
    .Signets {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 575px) {
            justify-content: center;
        }
        @media (min-width: 576px) {
            justify-content: center;
        }
    }
}