.Signet {
    position: relative;
    margin: 0.5rem;
    // padding: 0.5rem;
    // background-color: ivory;
    box-shadow: 5px 5px 15px 2px rgba(80, 78, 77, 0.75);
    .titre {
        font-size: 1.25rem;
        font-weight: bold;
        color: ivory;
        text-align: left;
        border-top: 3px solid black;
        height: auto;
    }
    &:nth-of-type(even) .titre {
        // background-color: lightcoral;
    }
    &__divImg {
        display: flex;
        justify-content: center;
    }
    img {
        // width: 240px;
        // height: 170px;
        /***********/
        width: 100%;
        height: auto;
    }
    div {
        overflow: hidden;
    }
    h1,
    h6 {
        margin-left: 10px;
    }
    .btnSig {
        color: white;
        z-index: 1;
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.3);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
            cursor: pointer;
        }
        &.haut {
            top: 15px;
            left: 15px;
        }
        &.bas {
            bottom: 15px;
            right: 15px;
        }
    }
    @media (max-width:575px) {
        // width: 90%;
        width: 70vw;
    }
    @media (min-width:576px) and (max-width:991px) {
        width: 45%;
    }
    @media (min-width:992px) {
        width: 23%;
    }
}